:root {
  --spacingHeader: 20px;
}

.custom-shadow {
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
}

.hoverLink a:hover {
  color: black;
}

.header_full_main_menu {
  height: 72px;
}

@media only screen and (min-width: 1024px) {
  .header_full_main_menu {
    background-color: #f4f6fa;
    z-index: 50;
  }
  .wrapper {
    padding-left: 44px;
    padding-right: 44px;
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    padding-left: 28px;
    padding-right: 28px;
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1920px) {
  .wrapper {
    padding-left: 208px;
    padding-right: 208px;
    max-width: 1920px;
  }
}
