@import "tailwindcss";

:root {
  --spacingHeader: 20px;
}

@layer utilities {
  .max-h-dynamic {
    max-height: calc(100vh - 32px);
    max-height: calc(100dvh - 32px);
  }
  .max-h-dynamic-scrollbar {
    max-height: calc(100vh - 98px);
    max-height: calc(100dvh - 98px);
    height: 100%;
  }

  .trait::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    width: 36px;
    height: 4px;
    background-color: rgb(236, 221, 221);
    border-radius: 20px;
  }
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.custom-background-cities {
  background: rgba(30, 34, 46, 0.64);
  backdrop-filter: blur(5px);
}

.custom-shadow {
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);
}

.hoverLink a:hover {
  color: black;
}

.header_full_main_menu {
  height: 72px;
}

/* ------ */
.custom-scrollbar {
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(30, 34, 46, 0.16);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(71, 104, 191, 0.8);
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(209, 213, 219, 0.5) transparent;
  transition: scrollbar-color 0.3s ease;
}

/* 
* Для создания кастомного Скролла, который плавно появляется
* webkit не дружит с плавностью
 */

.custom-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05), 0 8px 24px rgba(0, 0, 0, 0.1);
}

.wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

@media only screen and (min-width: 1024px) {
  .header_full_main_menu {
    background-color: #f4f6fa;
    z-index: 50;
  }
  .wrapper {
    padding-left: 44px;
    padding-right: 44px;
  }
  .custom-background-CrossSVG {
    top: 32px;
    right: 32px;
    border-radius: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    padding-left: 28px;
    padding-right: 28px;
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1920px) {
  .wrapper {
    padding-left: 208px;
    padding-right: 208px;
    max-width: 1920px;
  }
}
